In [10]:
%matplotlib inline
import pandas as pd

In [14]:
df = pd.read_csv("../data/crimes_in_polygon.csv")
grouped_df = df.groupby(["Zip", "Year"]).count()

In [16]:
grouped_df

Zip    Year
60601  2010    2971
       2011    1432
       2012    1615
       2013    1809
       2014    1591
       2015    1626
       2016    1811
60602  2010    3406
       2011    1690
       2012    1736
       2013    1706
       2014    1677
       2015    1707
       2016    1964
60603  2010    1672
       2011     862
       2012     892
       2013     977
       2014     858
       2015    1016
       2016    1196
60604  2010    1911
       2011     986
       2012    1052
       2013     904
       2014     880
       2015     822
       2016    1002
60605  2010    5115
       2011    2659
               ...
60660  2015    1476
       2016    1485
60661  2010    2100
       2011    1059
       2012    1019
       2013     907
       2014     779
       2015     854
       2016     862
60666  2010    2324
       2011    1359
       2012    1278
       2013    1594
       2014    1519
       2015    1253
       2016     961
60707  2010     160
       2011      77
       2012      65
       2013      71
       2014      54
       2015      60
       2016      57
60827  2010    2499
       2011    1420
       2012    1475
       2013    1407
       2014    1306
       2015    1131
       2016    1153
Name: Ward, Length: 430, dtype: int64